body{
	background-color:#DDDDDD;
}
.list{
	background-color:#DDDDDD;
	min-height:250px;
}
input::-webkit-input-placeholder {
    color:#00897B;
}
 
input::-moz-placeholder {
    color:#00897B;
}
textarea::-webkit-textarea-placeholder {
    color:#00897B;
}
 
textarea::-moz-placeholder {
    color:#00897B;
}