body{
	color: black;
	width: 100%;
	height: 100%;
	position:relative;
	font-family: "Times New Roman", Times, serif;
	background: url("../images/roche4.jpg") repeat;
	margin-left: -5px;
	overflow-x:hidden;
}

.center-block{
	width:80%;
	margin:0 auto;
}

/*------Footer----*/
footer{
	color: white;
	background-color: rgba(0, 0, 0, 0.8);
}
.pied{
	padding:2%;
	text-align: justify;
    -webkit-text-align-last: center;
	-moz-text-align-last: center;
	-ms-text-align-last: center;
	-o-text-align-last: center;
}

/*-------NavBar---------*/
.generalNavBar{
	position:fixed;
	top:-160px;
	left:0%;
	width:100%;
	z-index:4;
	transition: top 0.5s;
	-webkit-transition: top 0.5s;
    -moz-transition: top 0.5s;
    -o-transition: top 0.5s;
}
.generalNavBar:hover{
	position:fixed;
	top:0%;
	left:0%;
	width:100%;
	z-index:4;
}
.RowNavbar{
	box-shadow: 0px 0px 20px #000;
}
.redirect{
	padding-left: 35%;
	color:black;
}
li.carre{
	max-width: 80px;
}
.carre{
	transition: box-shadow 0.8s;
}
.carre:hover{
	box-shadow: 0px 0px 20px #000;
}

.dragon{
	transition: transform rotate;
}
.dragon:hover{
    -webkit-animation-name: rotation; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 1.2s; /* Chrome, Safari, Opera */
    animation-name: rotation;
    animation-duration: 1.2s;
}
.dragon2{
	opacity:0.0;
	transition: transform apparition;
}
.dragon2:hover{
    -webkit-animation-name: apparition; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 1.2s; /* Chrome, Safari, Opera */
    animation-name: apparition;
    animation-duration: 1.2s;
}
.homePicto{
	max-width: 80px;
	background:url("../images/home.png") no-repeat;
}
.compagniePicto{
	max-width: 80px;
	background:url("../images/compagnie.png") no-repeat;
}
.articlePicto{
	max-width: 80px;
	background:url("../images/article.png") no-repeat;
}
.galeriePicto{
	max-width: 80px;
	background:url("../images/galerie.png") no-repeat;
}
.contactPicto{
	max-width: 80px;
	background:url("../images/contact.png") no-repeat;
}
/* Chrome, Safari, Opera */
@-webkit-keyframes rotation {
    from {transform: rotate(0deg);}
    to {transform: rotate(720deg);}
}
@-webkit-keyframes apparition {
    from {opacity: 0.1;}
    to {opacity: 1;}
}

/* Standard syntax */
@keyframes rotation {
    from {transform: rotate(0deg);}
    to {transform: rotate(720deg);}
}
@keyframes apparition {
    from {opacity: 0.1;}
    to {opacity: 1;}
}
/*----scroll-langue----*/
.scroll-langue{
	background:url("../images/langue.png") no-repeat;
	position:fixed;
	top:150px;
	left:-123px;
	width:155px;
	height:170px;
	z-index:3;
	transition: left 0.5s;
	-webkit-transition: left0.5s;
    -moz-transition: left 0.5s;
    -o-transition: left 0.5s;
}

.scroll-langue:hover{
	background:url("../images/langue.png") no-repeat;
	position:fixed;
	top:150px;
	left:0%;
	width:155px;
	height:170px;
	z-index:3;
}
/*-----Presentation----*/
.presentation{
	width: 100%;
	color:white;
	background-color:rgba(0, 0, 0, 0.8); 
}
.contient-text{
	width: 50%;
	margin-top: 3%;
	padding-top:1%;
	padding-bottom:2%;
	text-align: justify;
    -webkit-text-align-last: center;
	-moz-text-align-last: center;
	-ms-text-align-last: center;
	-o-text-align-last: center;
}
/*-------Article--------*/
.article-1{
	padding-left: 13%;
	padding-bottom: 15%;
	width:99%;
	margin-top:90px;
}
.article{
	box-shadow: 0px 0px 20px #000;
	background-color: white;
	/*border-radius: 2%;*/
	padding-left:2%;
	padding-right:2%;
	padding-bottom: 5%;
	margin: 2%;
}
/*--------Page----------*/
.page{
	box-shadow: 0px 0px 20px #000;
	background-color: white;
	border-radius: 2%;
	padding-left:2%;
	padding-right:2%;
	padding-bottom: 5%;
	margin: 2%;
	margin-top: 120px;
	margin-bottom: 10%;
}